<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="NumeFisierPacienti" value="Data/Pacienti.txt" />
		<add key="NumeFisierMedici" value="Data/Medici.txt" />
		<add key="NumeFisierProgramari" value="Data/Programari.txt" />
		<add key="NumeFisierPrescriptii" value="Data/Prescriptii.txt" />
		<add key="NumeFisierDepartamente" value="Data/Departamente.txt" />
	</appSettings>
</configuration>
