<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="NumeFisierPacienti" value="Pacienti.txt" />
		<add key="NumeFisierMedici" value="Medici.txt" />
		<add key="NumeFisierProgramari" value="Programari.txt" />
		<add key="NumeFisierPrescriptii" value="Prescriptii.txt" />
		<add key="NumeFisierDepartamente" value="Departamente.txt" />
		<add key="NumeFisierUser" value="User.txt" />
	</appSettings>

</configuration>

